{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "body"}}
<h2>Latest Snippets</h2>
{{ $snippets := .Snippets }}
{{ $users := .Users }}
{{if .Snippets}}
    <table>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>ID</th>
            <th>User</th>
        </tr>
        {{range $i, $snippet := .Snippets }}
        {{$user := index $.Users $i}}
        <tr>
            <td><a href='/snippet/{{$snippet.ID}}'>{{$snippet.Title}}</a></td>
            <td>{{humanDate $snippet.Created}}</td>
            <td>#{{$snippet.ID}}</td>
            <td>{{$user.Name}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>There's nothing to see here yet!</p> 
    {{end}}
{{end}}